/* Убирает отступы и заполняет фон  */

html, body {
  margin: 0;
  padding: 0;
  background-color: #424242;
}
/* Основной контейнер приложения */
.App {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #171717;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
/* Стили для текстового ввода */
input[type="text"] {
  padding: 8px;
  font-size: 16px;
  width: calc(100% - 100px);
  margin-right: 10px;
  background-color: #2f2f2f;
  color: white;
}
/* Стили для кнопок */
button {
  padding: 8px 12px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #2f2f2f;
  color: white;
}
/* Убирает стандартный стиль списка */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Стили для элементов списка задач */
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid white;
  position: relative;
}
/* Убирает нижнюю границу у последнего элемента списка */
li:last-child {
  border-bottom: none;
}
/* Контейнер для текста задачи */
.task-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
/* Стили для текста задачи */
.task-content span {
  margin-left: 10px;
  text-decoration: none;
  word-break: break-all;
}
/* Контейнер для кнопок задач */
.task-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}
/* Устанавливает фиксированную ширину для кнопок управления задачей */
.task-actions button {
  width: 150px;
}

